.wrapper {
  display: grid;
  grid-gap: 15px;
  width: 60px;
  grid-template-columns: [col] 60px [col] 60px [col] 60px [col] 60px [col] 60px;
  grid-template-rows: [row] auto [row] auto [row];
}

.feedback-text {
  grid-column: col / span 6;
  grid-row: row;
  text-align: center;
}

.button {
  text-align: center;
  background-color: white;
  border: 1px solid #D3D3D3;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #4CAF50;
}

.active {
  border: 2px solid #4CAF50;
  font-style: bold;
}

span.emoji {
  font-size: 30px;
}

#yes-button {
  grid-row: row 2;
  grid-column: col 2/ span 2;
}

#no-button {
  grid-row: row 2;
  grid-column: col 4 / span 2;
}

#emoji-happy {
  grid-row: row 2;
  grid-column: col 1 / span 1;
}

#emoji-sad {
  grid-row: row 2;
  grid-column: col 2 / span 1;
}

#emoji-confused {
  grid-row: row 2;
  grid-column: col 3 / span 1;
}

#emoji-thumbsup {
  grid-row: row 2;
  grid-column: col 4 / span 1;
}

#emoji-thumbsdown {
  grid-row: row 2;
  grid-column: col 5 / span 1;
}
.feedback-form {
  grid-row: row 3;
  grid-column: col / span 6;
}

#feedback-button {
  width: 150px;
  float: right;
}